cloud_id                 = "aaa"
folder_id                = "bbb"
zone                     = "ru-central1-a"
subnet_id                = "ccc"
service_account_key_file = "../../secrets/terraform-key.json"
public_key_path          = "~/.ssh/appuser.pub"
private_key_file         = "~/.ssh/appuser"
app_disk_image           = "fd8natvmqgtin5eu9n49"
db_disk_image            = "fd8cvs5dlv022s5c3mtm"
